* { margin:0;}

html, body, #root{
	min-height: 100%;
	width: 100%;
}

body {
	background: white url("../images/login_bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

ul {
	list-style: none;
	padding: 0px;
}

a, a:link, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#root  {
	text-align: center;
	margin-top: 80px;
}


/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.login-form {
	width: 30%;
	min-width: 220px;
	margin: auto;
    -webkit-box-shadow: 0px 0px 10px 1px gray;
			box-shadow: 0px 0px 10px 1px gray;
}

.login-form fieldset {
	text-align: center;
	border: 1px solid gray;
	padding: 50px 0;
}

.login-form label {
	display: block;
	font: 1.6em sans-serif;
}

.login-form input[name="email"], input[name="password"] {
	display: block;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 0.55em;
}

.login-form input[type="submit"] {
    background:rgb(42, 72, 129); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	opacity: 80%;
	color: white;
}

.mod-list {
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 1px gray;
	box-shadow: 0px 0px 5px 1px gray;
	height: calc(100% - 160px) !important;
	width: calc(40% - 50px);
	margin-bottom: 80px;
	margin-left: 50px;
	overflow-y: scroll;
    scrollbar-width: none;
	background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
}

.mod {
	position: relative;
    /* RGBa with 0.6 opacity */
	font-size: 1.2em;
	text-align: start;
	border: 1px solid lightgray;
	border-bottom: none;
}

.mod .download-link {
	display: block;
	padding: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.mod:last-of-type {
	border-bottom: 1px solid lightgray;
}

.mod .delete-btn {
	position: absolute;
	right: 1%;
	top: 8%;
	background: red;
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	opacity: 35%;
	padding: 5px;
	color: white;
	font-size: 0.45em;
	width: 2.2em;
}

.mod .delete-btn:hover {
	opacity: 80%;
}

.mod .jar-icon {
	width: 2.5em;
	height: 2.6em;
	float: left;
}

.control-panel {
	position: absolute;
	right: 0%;
	margin-right: 50px;
}

.control-panel .btn {
	background:rgb(12, 77, 197); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	opacity: 80%;
	color: white;
	font-size: 0.8em;
	margin-right: 15px;
}

.control-panel .btn.disabled {
	background: gray;
	opacity: 50%;
	cursor: default;
}

.control-panel input[type="file"] {
    display: none;
}