* { margin:0;}

html, body {
	min-height: 100%;
	width: 100%;
	height: 100%;
	max-height: 100%;
}

body {
	background: white url("../images/login_bg.jpg") no-repeat center;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

ul {
	list-style: none;
	padding: 0px;
}

a, a:link, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#root  {
	text-align: center;
	padding-top: 80px;
	height: calc(100% - 80px);
}


/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.login-form {
	width: 30%;
	min-width: 220px;
	margin: auto;
    -webkit-box-shadow: 0px 0px 10px 1px gray;
			box-shadow: 0px 0px 10px 1px gray;
}

.login-form fieldset {
	text-align: center;
	padding: 50px 0;
	border: none;
}

.login-form label {
	display: block;
	font: 1.6em sans-serif;
}

.login-form input[name="email"], input[name="password"] {
	display: block;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 0.55em;
}

.login-form input[type="submit"] {
    background:rgb(42, 72, 129); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	opacity: 80%;
	color: white;
}

#home {
	position: relative;
	min-height: 100%;
	height: 100%;
}

.mod-list {
	position: relative;
	float: left;
	-webkit-box-shadow: 0px 0px 5px 1px gray;
	box-shadow: 0px 0px 5px 1px gray;
	height: calc(100% - 160px);
	min-height: 360px;
	width: calc(40% - 50px);
	margin-bottom: 80px;
	margin-left: 50px;
	overflow-y: scroll;
    scrollbar-width: none;
	background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
	z-index: 2;
}

.mod {
	position: relative;
    /* RGBa with 0.6 opacity */
	font-size: 1.2em;
	text-align: start;
	border: 1px solid lightgray;
	border-bottom: none;
}

.mod.new{
	background-color: red;
    background-color: rgba(255, 0, 0, 0.3);
}

.mod .download-link {
	display: block;
	padding: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.mod .download-link.disabled {
	background: lightgray;
}

.mod:last-of-type {
	border-bottom: 1px solid lightgray;
}

.mod .delete-btn {
	position: absolute;
	right: 1%;
	top: 8%;
	background: red;
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	opacity: 35%;
	padding: 5px;
	color: white;
	font-size: 0.45em;
	width: 2.2em;
}

.mod .delete-btn:hover {
	opacity: 80%;
}

.mod .jar-icon {
	width: 2.5em;
	height: 2.6em;
	float: left;
}

.control-panel {
	position: relative;
	right: 0%;
	margin-right: 50px;
	text-align: right;
	z-index: 1;
}

.control-panel .btn {
	background:rgb(12, 77, 197); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	opacity: 80%;
	color: white;
	font-size: 0.8em;
	margin-right: 15px;
}

.control-panel .btn.disabled {
	background: gray;
	opacity: 50%;
	cursor: default;
}

.control-panel input[type="file"] {
    display: none;
}

.control-panel .board-wrap {
	width: 35%;
	height: 100%;
	text-align: center;
	margin-top: 40px;
	margin-right: 15px;
	display: inline-block;
	background-color:rgb(11, 49, 83);
	background-color:rgba(11, 49, 83, 0.7);
	color:lightgray;
	-webkit-box-shadow: 0px 0px 10px 1px rgb(28, 55, 105);
			box-shadow: 0px 0px 10px 1px rgb(28, 55, 105);
}

.board h2, .control-panel .board div {
	display: inline-block;
	padding: 20px;
	text-align: center;
	font-size: 1.1em;
}

.board div h2 {
	font-size: 1.5em;
}

.board div p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.progress-bar {
    width: 100%;
	margin-bottom: 15px;
	text-align: left;
}

.progress-bar div {
    width: 0;
    height: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(white), to(#00d800));
    background-image: -o-linear-gradient(left, white, #00d800);
    background-image: linear-gradient(to right, white, #00d800);
}

.progress-bar p {
	padding: 0.5em;
	font-size: 0.65em;
	font-weight: 900;
	text-decoration: underline;
	color: orange;
}

.control-panel .status-panel-wrap {
	position: relative;
}
.control-panel .status-panel {
	width: 70%;
	display: inline-block;
}

/* @-webkit-keyframes progress-bar {
    from {padding-right: 0%;}
    to {padding-right: 100%;}
}

@keyframes progress-bar {
    from {padding-right: 0%;}
    to {padding-right: 100%;}
} */

@media only screen and (max-width: 980px) {
	body {
		background-attachment: scroll;
	}
	.login-form {
		padding: 20% 0;
		width: 90%;
		margin-bottom: 80px;
		margin-top: 30%;
	}
	.login-form label {
		font-size: 40pt;
	}
	
	.login-form input[type="submit"] {
		font-size: 24pt;
		padding: 0.5em;
		margin-top: 1em;
	}
	.mod-list {
		width: calc(100% - 160px);
		float: none;
	}
	.control-panel {
		position:initial;
		text-align: center;
		margin-right: 0px;
		padding-bottom: 80px;
	}
	.control-panel .board-wrap {
		margin-right: 0px;
		width: 80%;
	}
	.control-panel .status-panel {
		margin-right: 0px;
		width: 80%;
	}
}
@media screen and (max-width: 600px) {
	.mod-list {
		height: 50%;
	}
}